header{
  font-family: 'Abril Fatface', cursive; 
  color: gray;
}
p {
  font-family: 'Josefin Sans', sans-serif;
  color: gray;
}
subtitle{
  font-family: 'Merriweather', serif;
  color: gray;
}

.kep{
  width: 90%;
  position: absolute; 
   top: 0px; 
   left: 50px; 
}
.bemutatkozo { 
   position: absolute; 
   top: 180px; 
   left: 300px;  
  color: black;
}
.Anakin { 
  display: absolute;
  font-size:80px;
     top: 0px; 
   left: 300px;  
}
.myname{
  font-size:40px;
}

main{
  position: relative;
   top: 400px; 
   left: 10px;  
  color: gray;
  width: 80%;
  font-family: 'Josefin Sans', sans-serif; 
}
.fekete{
  display: flex;
  background: black;
  color: White;
  font-family: 'Abril Fatface', cursive; 
  padding: 0px 0px 0px 100px;
  letter-spacing: 2px;
}
.idezojel::before { 
  content: "\201C";
  color: white;
  font-size: 120px;
  margin-bottom: -10px;
  padding: 0;
  margin: -50px;
  position: absolute;
  
}

h1{
  background: black;
  color: White;
  font-family: 'Abril Fatface', cursive; 
  font-size: 60px;
  letter-spacing: 2px;
}
h2{
  color: gray;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 30px;
  padding: 20px 0px 10px 100px;
}
h3{
  color: gray;
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  font-size: 24px;
  padding: 10px 0px 10px 100px;
}
h4{
  color: gray;
  font-family: 'Abril Fatface', cursive, italic;
  font-size: 24px;
  padding: 0px 0px 10px 100px;
  font-weight: 300;
}

.szoveg{
  color: gray;
  font-style: normal;
  font-size: 18px;
  padding: 20px 0px 10px 100px;
}
ul{
  position: relative;
  display: inline-block;
  width: 900px;
  padding: 10px;
  margin-left: 100px;
  margin-top: 50px;
  font-size: 26px;
}
li{
  font-size: 24px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 50px;

}
.vonal {
  background: #222;
  width: 80%;
  height: 5px;
  margin: 100px;
}